@use "../../scss/" as *;

.logo{
    font-size: 2.5rem;
    font-weight: 600;
    
    @include flex(center, unset);

    img{
        margin-right: 10px;
        width: 50px;
        height: 50px;

        @include mobile {
            width: 30px;
            height: 30px;
            margin-right: 0;
        }
    }
}

.header{
    height: $header-height;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    transition: height .3s ease;
    background-color: .3s ease;

    &.shrink {
        height: $header-shrink-height;
        background-color: $body-bg;
    }

    &_wrap{
        @include flex(center,space-between);
        height: 100%;
        padding: 0 2rem;

        @include mobile{
            justify-content: center;
        }
    }

    &_nav{
        @include flex(center, unset);

        & >*~* {
            margin-left: 2rem
        }

        li{
            padding: 5px 0;
            font-weight: 700;
            position: relative;
            font-size: 1.5rem;
        }
    }
}