@use "../../scss/" as *;

.logo{
    font-size: 2.5rem;
    font-weight: 600;
    
    @include flex(center, unset);

    img{
        margin-right: 10px;
        width: 50px;
        height: 50px;

        @include mobile {
            width: 30px;
            height: 30px;
            margin-right: 0;
        }
    }
}

.header{
    height: $header-height;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    transition: height .3s ease;
    // background-color: yellow;

    // &.shrink {
    //     height: $header-shrink-height;
    //     background-color: $body-bg;
    // }

    &_wrap{
        @include flex(center,space-between);
        height: 100%;
        padding: 0 2rem;

        @include mobile{
            justify-content: center;
        }
    }

    &_nav{
        @include flex(center, unset);
        list-style-type: none;
        padding: 0;

        & >*~* {
            margin-left: 2rem
        }

        li{
            // padding: 5px 0;
            font-weight: 700;
            position: relative;
            font-size: 1.2rem;
            padding: 0 5px;

            & ::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                transition: width 0.5s ease;
                height: 2px;
                background-color: red;
            }

            & :hover::after{
                width: 100%;
            }
    
            
        }

        & .active ::after{
            width: 100%;
        }

        @include mobile {
            position: fixed;
            bottom: 0;
            left: 0;
            // height: 5rem;
            width: 100%;
            background-color: $body-bg;
            // padding: 0 2rem;
            box-shadow: $box-shadow;
            

            @include flex(center, space-between);
            // flex-direction: row;

            & > *~* {
                margin-left: 0;
            }
        }

        
    }
}