@use '../../../scss/'as *;

.videos{
    width: 100%;
    @include flex(center,center);
    flex-direction: column;

    .video{
        width: 80%;
    }
    iframe{
        height: 400px;

        @include mobile{
            height: 200px;
        }
    }
}