@use "../../../scss/" as *;

button {
    cursor: pointer;
    font-family: $font-family;
}

.btn-default {
    border: 5px solid transparent;
    background-color: $main-color;
    color: $white;
    border-radius: $border-radius;
    padding: 0.5rem 1.8rem;
    font-size: 1.5rem;
    font-weight: 600;
    transition: box-shadow .3s ease;
    position: relative;
}


.btn-outline {
    border: 3px solid $white;
    background-color: transparent;
    color: $white;
    font-weight: 900;
    box-shadow: unset;
    border-radius: $border-radius;
    transition: border-color .3s ease, background-color .3s ease;
}

.btn-outline:hover{
    box-shadow: unset;
    color: $main-color;
    background-color: $black;
    border-color: $main-color;
    transition:  border-color .10s ease
}

.btn-default:hover{
    box-shadow: unset;
    color: $main-color;
    background-color: $black;
    border-color: $main-color;
    transition:  border-color .10s ease
}

.btn.small {
    border-width: 2px;
    padding: .25rem 1.5rem;
    font-size: 1rem;
    font-weight: 900;
}
