@use "../../scss/" as *;

.slide_container{
 margin-bottom: 1rem;   
}

.slide_item{
    width: 100%;
    padding: 5.5rem 0;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &::before{
        content: "";
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        @include overlay();
    }

    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, $body-bg, rgba($black, 0));
    }

    &_content{
        @include flex(center, center);
        position: relative;

        &_info{
            width: 55%;
            padding: 0 3rem;
            position: relative;

            @include tablet{
                width: 100%;
            }

            & > * ~ * {
                margin-top: 3rem;
            }

            .overview{
                font-weight: 700;
            }


        }

        &_poster{
            flex: 1;
            @include flex(center, center);
            position: relative;
            z-index: 1;

            img{
                width: 200px;
                height: 280px;
                border-radius: $border-radius;
                box-shadow: $box-shadow;
            }

            @include tablet{
                display: none;
            }
        }
    }
}